:root {
    --primary-color: #12619c;
    --secondary-color: #f8f9fa; 
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    position: relative;
    z-index: 2;
}

.header-container::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
    height: 12px;
    background: var(--primary-color);
    box-shadow: 
        0 15px 60px var(--primary-color),
        0 5px 30px rgba(0, 191, 255, 0.8);
    mask-image: linear-gradient(
        to bottom,
        black 0%,
        transparent 90%
    );
    z-index: -1;
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo {
    height: 80px;
    margin-right: 10px;
    transition: transform 0.5s ease-in-out;

    &:hover {
        transform: rotate(-15deg) scale(1.1);
    }
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;

    &:hover {
        color: var(--primary-color);
        transition: color 0.3s ease;
    }
}
